* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

@media only screen and (max-width: 800px) {
    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    .main h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    .main p {
        margin-top: 15px;
        font-size: 10px;
    }

    .main__form {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .text-input {
        padding: 10px 40px 10px 10px;
        width: 90%;
    }

    button {
        margin-top: 10px;
        padding: 10px 80px;
        width: 90%;
    }

    .copyright {
        font-size: 10px;
    }

    .attribution {
        font-size: 8px;
    }
}

@media only screen and (min-width: 800px) {
    .main {
        margin-left: 25%;
        margin-right: 25%;
    }

    .main h1 {
        font-size: 40px;
    }

    .text-input {
        padding: 10px 100px 10px 10px;
        margin-right: 5px;
    }

    button {
        padding: 10px 40px;
    }

    .attribution {
        font-size: 11px;
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    justify-content: space-evenly;
    color: hsl(209, 33%, 12%);
}

.flex-item {
    flex: 1;
    align-self: center;
}

.main__form {
    margin-top: 10px;
}

.text-input {
    border-color: hsl(223, 100%, 88%);
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    color: hsl(0, 0%, 59%);
}

button {
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-weight: 600;
    border-radius: 40px;
    border-style: none;
    box-shadow: 0 8px 6px 0 hsl(223, 87%, 95%);
    flex: 1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.main h1 {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    display: block;
    margin-bottom: 0;
}

.loud {
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}

.main p {
    color: hsl(209, 33%, 12%);
}

.dashboard {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

.socials {
    display: flex;
    margin-top: 40px;
}

.socials__icon {
    border-radius: 50%;
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

.copyright {
    color: hsl(0, 0%, 59%);
    margin-top: 20px;
}

.attribution {
    margin-top: 40px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}